.Form {
    font-family: "Inter", sans-serif;
}
.Form > * {
    display: inline;
}
.Form h1 {
    display: block;
    margin-bottom: 16px;

    text-align: center;
}
.Form h4 {
    display: block;
    font-weight: 400;

    margin-bottom: 16px;

    text-align: center;

    color: var(--color-subtitle);
}
