.custom-form {
    font-family: "Inter", sans-serif;
}
.custom-form > * {
    display: inline;
}
.custom-form > h1 {
    display: block;
    margin-bottom: 16px;

    text-align: center;
}
.custom-form > h4 {
    display: block;
    font-weight: 400;

    margin-bottom: 16px;

    text-align: center;

    color: var(--color-subtitle);
}
