main {
    position: relative;

    display: flex;
    overflow: hidden;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: radial-gradient(var(--color-main), var(--color-secondary));
}
.container {
    font-family: "Poppins";

    position: absolute;
    top: clamp(55%, 65vw,70%);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: inherit;
    height: 165px;

    color: white;
}
.error-number {
    font-family: Impact, sans-serif;
    font-size: clamp(10rem, 25vw, 35rem);
    top: 48%;

    position: absolute;

    width: 100%;

    user-select: none;
    transform: translateY(-50%);
    text-align: center;

    color: white;
}
.circle-mod {
    transform: translateY(-50%) scale(100%);
}
.title {
    font-size: clamp(0.8rem, 2vw, 3rem);
    font-weight: bold;

    margin-bottom: 16px;
}
.subtitle {
    font-size: clamp(12px, 1vw, 19px);

    margin-bottom: 16px;
}
.back-btn {
    font-family: "inter";
    font-size: 16px;

    height: 44px;
    padding: 8px 24px;

    cursor: pointer;

    color: var(--color-paragraph);
    border: none;
    border-radius: 4px;
    background-color: #e9ecef;
}
@media screen and (max-width: 1440px) {
    .circle-mod {
        transform: translateY(-50%) scale(70%);
    }
}
@media screen and (max-width: 768px) {
    .circle-mod {
        transform: translateY(-50%) scale(50%);
    }
}
