.nav-menu__group {
    height: 100%;
}
.nav-menu__item {
    height: 100%;
}
.nav-menu__item button[type="button"] {
    color: var(--color-subtitle);
    height: 100%;
    cursor: pointer;
    border: none;
}
.nav-menu__item button[type="button"]:hover {
    opacity: 50%;
}
.nav-menu__profile-pic {
    background-color: var(--color-bg-3);
    border-radius: 50%;
    overflow: hidden;
}
.profile-name-role__name{
    font-family: "inter";
    font-size: 16px;
}
.profile-name-role__role{
    font-family: "inter";
    font-size: 13px;
    color: var(--color-subtitle);
}
.profile-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
