body {
    width: 100%;
    height: 100vh;
}
#app {
    display: flex;

    height: 100%;
}

.left-content {
    font-family: "Inter", sans-serif;

    overflow: auto;

    width: 50%;
    height: 100%;
    padding: 12% 13.65% 0 13.65%;
}
.head-logo {
    display: flex;
    align-items: center;

    height: 45px;
    margin-bottom: 40px;
}
.head-logo > p {
    font-size: 33px;

    padding-left: 8px;
}
.left-content > h1 {
    margin-bottom: 16px;

    text-align: center;
}
.left-content > h4 {
    font-weight: 400;

    margin-bottom: 16px;

    text-align: center;

    color: var(--color-subtitle);
}

.left-content > form > label {
    font-size: 16px;

    color: var(--color-subtitle);
}
.left-content > form > input {
    display: block;

    width: 100%;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 15px;

    border: 1px var(--color-main) inset;
    border-radius: 4px;
}
.left-content > form > input:focus-visible {
    outline: 1px var(--color-secondary) solid;
}
.left-content > form > input[type="checkbox"] {
    position: relative;

    display: inline;

    width: 14px;
    height: 14px;
    margin-right: 8px;
    padding: 1px;

    cursor: pointer;
}
.left-content > form > input[type="checkbox"]::after {
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    content: "";

    border: 1px var(--color-subtitle) solid;
    border-radius: 2px;
    background-color: var(--color-bg);
}

.left-content > form > input[type="checkbox"]:checked::before {
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    content: "";

    border: 1px var(--color-main) solid;
    border-radius: 2px;
    background-color: var(--color-bg);
}
.left-content > form > input[type="checkbox"]:checked::after {
    position: absolute;
    top: -6px;
    left: -3px;

    display: flex;

    width: 170%;
    height: 170%;

    content: "";

    background-color: var(--color-main);

    mask-image: url(../../../images/pajamas--check.svg);
    -webkit-mask-image: url(../../../images/pajamas--check.svg);
    mask-size: cover;
}
.left-content > form > input[type="checkbox"]:hover:checked::after {
    background-color: var(--color-main-light);
}
.left-content > form > input[type="checkbox"]:hover:checked::before,
.left-content > form > input[type="checkbox"]:hover::after {
    border-color: var(--color-main-light);
}
.left-content > form > label[for="remember"] {
    font-size: 16px;

    display: inline;

    height: 14px;

    color: var(--color-subtitle);
}
.left-content > form > a:visited,
.left-content > form > a {
    font-size: 16px;

    float: right;

    margin-top: 8px;

    text-decoration: none;

    color: var(--color-main);
}
.left-content > form > a:hover {
    color: var(--color-main-light);
}
.left-content > form > button[type="submit"] {
    font-size: 16px;

    display: block;

    width: 188px;
    height: 44px;
    margin: auto;
    margin-top: 24px;

    color: var(--color-bg);
    border: 0;
    background-color: var(--color-main);
    cursor: pointer;
}
.left-content > form > button[type="submit"]:hover {
    background-color: var(--color-main-light);
}
.right-content {
    width: 50%;

    background: radial-gradient(var(--color-main), var(--color-secondary));
}

@media screen and (max-width: 768px) {
    .left-content {
        width: 100%;
        padding: 234px 20% 0 20%;
    }
    .right-content {
        display: none;
    }
}
