@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --color-main: #3a57e8;
    --color-main-light: #c4ccf8;
    --color-secondary: #0048b2;
    --color-paragraph: #232d42;
    --color-subtitle: #8a92a6;
    --color-shadow: rgba(6, 8, 89, 0.75);
    --color-bg: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app {
    overflow: auto;

    width: 100%;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-main-light);
}
::-webkit-scrollbar-thumb {
    background: var(--color-main);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}
