.custom-form > button[type="submit"] {
    font-size: 16px;

    display: block;

    width: 188px;
    height: 44px;
    margin: auto;
    margin-top: 24px;

    cursor: pointer;

    color: var(--color-bg);
    border: 0;
    border-radius: 4px;
    background-color: var(--color-main);
}
.custom-form > button[type="submit"]:hover {
    opacity: .75;
}
