.custom-form input {
    display: block;

    width: 100%;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px var(--color-main) inset;
    border-radius: 4px;
}
.custom-form input:focus-visible {
    outline: 1px var(--color-secondary) solid;
}
.custom-form input[type="checkbox"] {
    position: relative;

    display: inline;

    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-bottom: 1px;
    margin-right: 8px;
    padding: 1px;

    cursor: pointer;
}
.custom-form input[type="checkbox"]::after {
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    content: "";

    border: 1px var(--color-subtitle) solid;
    border-radius: 2px;
    background-color: var(--color-bg);
}

.custom-form input[type="checkbox"]:checked::before {
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    content: "";

    border: 1px var(--color-main) solid;
    border-radius: 2px;
    background-color: var(--color-bg);
}
.custom-form input[type="checkbox"]:checked::after {
    position: absolute;
    top: -6px;
    left: -3px;

    display: flex;

    width: 170%;
    height: 170%;

    content: "";

    background-color: var(--color-main);

    mask-image: url(../../../../images/pajamas--check.svg);
    -webkit-mask-image: url(../../../../images/pajamas--check.svg);
    mask-size: cover;
}
.custom-form > input[type="checkbox"]:hover:checked::after {
    background-color: var(--color-main-light);
}
.custom-form input[type="checkbox"]:hover:checked::before,
.custom-form input[type="checkbox"]:hover::after {
    border-color: var(--color-main-light);
}
