.rectangle {
    position: absolute;
}
.logo {
    position: relative;
}
.logo > * {
    position: absolute;

    border-radius: 75px;
    background-color: var(--color-main);
}
.top-right {
    transform: rotate(-45deg) translate(370%, 34%);
}
.bottom-right {
    transform: rotate(45deg) translate(90%, -31%);
}
.bottom-left {
    transform: rotate(-45deg) translate(69%, 76%);

    background-color: transparent;
}
.bottom-left::after {
    position: absolute;

    width: 100%;
    height: 58% !important;

    content: "";

    border-radius: 75px;
    background-color: var(--color-main);
}
.top-left {
    transform: rotate(45deg) translate(390%, -31%);
}
